{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{% static 'MyPizza/index.css' %}?=4" rel="stylesheet" type="text/css">
    <title>Document</title>
</head>
<body>
    <div class="NAV">
        <div class="NAV-LOGO">
            <img src="{% static 'MyPizza/RES/LOGO.svg' %}">
        </div>
        <div class="NAV-TITLE">
            <h1>My Pizza</h1>
        </div>
        <div class="NAV-BUTTON">
            <a class="button" href="login">Войти</a>
        </div>
    </div>

    <div class="Menu">
        <h1>Пицца</h1>
        <div class="Menu-Roll">
            <div class="Card-Menu">
                <img src="{% static 'MyPizza/RES/image.png' %}">
                <div class="INFO">
                    <div class="TITLE">
                        <h2>Пицца Маргарита</h2>
                        <h3>420g</h3>
                    </div>
                    <button>450 р</button>
                </div>
            </div>
            <div class="Card-Menu">
                <img src="{% static 'MyPizza/RES/image.png' %}">
                <div class="INFO">
                    <div class="TITLE">
                        <h2>Пицца Маргарита</h2>
                        <h3>420g</h3>
                    </div>
                    <button>450 р</button>
                </div>
            </div>
            <div class="Card-Menu">
                <img src="{% static 'MyPizza/RES/image.png' %}">
                <div class="INFO">
                    <div class="TITLE">
                        <h2>Пицца Маргарита</h2>
                        <h3>420g</h3>
                    </div>
                    <button>450 р</button>
                </div>
            </div>
            <div class="Card-Menu">
                <img src="{% static 'MyPizza/RES/image.png' %}">
                <div class="INFO">
                    <div class="TITLE">
                        <h2>Пицца Маргарита</h2>
                        <h3>420g</h3>
                    </div>
                    <button>450 р</button>
                </div>
            </div>
            <div class="Card-Menu">
                <img src="{% static 'MyPizza/RES/image.png' %}">
                <div class="INFO">
                    <div class="TITLE">
                        <h2>Пицца Маргарита</h2>
                        <h3>420g</h3>
                    </div>
                    <button>450 р</button>
                </div>
            </div>
        </div>
        <h1>Пицца</h1>
        <div class="Menu-Roll">
            <div class="Card-Menu">
                <img src="{% static 'MyPizza/RES/image.png' %}">
                <div class="INFO">
                    <div class="TITLE">
                        <h2>Пицца Маргарита</h2>
                        <h3>420g</h3>
                    </div>
                    <button>450 р</button>
                </div>
            </div>
            <div class="Card-Menu">
                <img src="{% static 'MyPizza/RES/image.png' %}">
                <div class="INFO">
                    <div class="TITLE">
                        <h2>Пицца Маргарита</h2>
                        <h3>420g</h3>
                    </div>
                    <button>450 р</button>
                </div>
            </div>
            <div class="Card-Menu">
                <img src="{% static 'MyPizza/RES/image.png' %}">
                <div class="INFO">
                    <div class="TITLE">
                        <h2>Пицца Маргарита</h2>
                        <h3>420g</h3>
                    </div>
                    <button>450 р</button>
                </div>
            </div>
            <div class="Card-Menu">
                <img src="{% static 'MyPizza/RES/image.png' %}">
                <div class="INFO">
                    <div class="TITLE">
                        <h2>Пицца Маргарита</h2>
                        <h3>420g</h3>
                    </div>
                    <button>450 р</button>
                </div>
            </div>
            <div class="Card-Menu">
                <img src="{% static 'MyPizza/RES/image.png' %}">
                <div class="INFO">
                    <div class="TITLE">
                        <h2>Пицца Маргарита</h2>
                        <h3>420g</h3>
                    </div>
                    <button>450 р</button>
                </div>
            </div>
        </div>
    </div>
</body>
</html>