:root{
    --button-bg: rgba(255, 105, 0, 0.1);
    --hover-button-bg: rgba(255, 105, 0, 0.2);
    --btn-text-color: rgba(255, 105, 0, 100);
    --search-color: rgba(30, 30, 30, 0.05);
}



:root {
    font-family: Inter, sans-serif;
    font-feature-settings: 'liga' 1, 'calt' 1; /* fix for Chrome */
  }
  @supports (font-variation-settings: normal) {
    :root { font-family: InterVariable, sans-serif; }
  }

html::-webkit-scrollbar{
    display: none;
}

*{
    scroll-behavior: smooth;
}

body{
    --background-color: #000;
}

a{
    text-decoration: none;
}

.NAV{
    width: 95%;
    display: flex;
    justify-content: space-between;
    margin: auto;
    margin-top: 2%;
    margin-bottom: 2%;

    background-color: #fff;
}

.NAV button{
    width: 60px;
    height: 60px;
    display: flex;
    aspect-ratio: 1;
    justify-content: center;
    align-items: center;
    background-color: var(--button-bg);
    color: var(--btn-text-color);
    border: none;
    border-radius: 15px;
    transition: all 0.5s ease;
}



.NAV button img{
    width: 100%;
    object-fit: cover;

}

.NAV .SEARCH{
    width: 94%;
    margin-right: 3%;
    margin-left: 3%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    background-color: var(--search-color);
    border-radius: 15px;
}

.NAV .SEARCH input{
    width: 100%;
    height: auto;
    background-color: transparent;
    border: none;
    border-radius: 15px;
    padding: 20px;
    outline: none;
}

.NAV .SEARCH input::placeholder{
    font-weight: 600;
}

.NAV .SEARCH .CLEAR_BTN{
    color: #000;
    background-color: transparent;
    font-size: large;
}

.MENU-TAB{
    width: 95%;
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    gap: 1%;
    margin: auto;
    margin-top: 2%;
    margin-bottom: 2%;
    background-color: #fff;
}

.MENU-TAB .TAB{
    padding: 15px 30px;
    background-color: transparent;
    border-radius: 15px;
    transition: all 0.5s ease;
    margin-right: 10px;
    margin-bottom: 10px;
}

.MENU-TAB .TAB{
    cursor: pointer;
}

.MENU-TAB .TAB:hover{
    background-color: var(--search-color);
}

#ACTIVE-TAB{
    background-color: var(--button-bg);
    color: var(--btn-text-color)
}

.MENU{
    width: 100%;
    max-height: 50%;
    display: flex;
    justify-content: start;
    margin: auto;
    flex-wrap: wrap;
    background-color: #fff;
}

.MENU h1{
    width: 97%;
    margin-left: auto;
}

.MENU .CARDS{
    display: flex;
    justify-content: start;
    align-items: center;
    overflow-y: auto;
}


.MENU .CARDS::-webkit-scrollbar{ 
    height : 10px;
    background-color: rgba(30, 30, 30, 0);
 }

 .MENU .CARDS::-webkit-scrollbar-thumb{ 
    height : 10px;
    background-color: var(--button-bg);
 }


.MENU .CARDS .CARD{
    max-width: 384px;
    max-height: 502px;
    min-width: var(--max-card-witdh);
    padding: 15px;
    border-radius: 35px;
    margin-left: var(--padding);
}

.MENU .CARDS .CARD img{
    width: 100%;
    max-height: 300px;
    object-fit:contain;
    aspect-ratio: 1;
    border-radius: 25px;
}

.MENU .CARDS .CARD .INFO .PRICE{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.MENU .CARDS .CARD .INFO .PRICE button{
    width: 50px;
    height: 50px;
    display: flex;
    aspect-ratio: 1;
    justify-content: center;
    align-items: center;
    background-color: var(--button-bg);
    color: var(--btn-text-color);
    border: none;
    border-radius: 15px;
    transition: all 0.5s ease;
}


.CART{
    width: 100%;
    max-width: 400px;
    height: 97vh;
    position: fixed;
    align-items: self-start;
    top: 0;
    left: auto;
    border: none;
    border-radius: 20px;
    box-shadow: 0px 0px 10px rgba(30, 30, 30, 0.1);

}



.CART h1, .CART p{
    margin: 0;
    padding: 0;
}

.CART .TITLE{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    --background-color: rgba(30, 30, 30, 0.1);
}


.CART button{
    width: 60px;
    height: 60px;
    display: flex;
    aspect-ratio: 1;
    justify-content: center;
    align-items: center;
    background-color: var(--button-bg);
    color: var(--btn-text-color);
    border: none;
    border-radius: 15px;
    transition: all 0.5s ease;
}



.CART button img{
    width: 100%;
    object-fit: cover;

}

.CART .TITLE .CLEAR_BTN{
    color: #000;
    background-color: rgba(30, 30, 30, 0.1);
    font-size: large;
}

.CART .DISH{
    height: 80%;
    margin: 6% 0%;
    --background-color: aqua;
}

.CART .BUY{
    width: 100%;
    font-size: large;
}

.CART .DISH .FOOD{
    width: 96%;
    padding: 2%;
    max-height: 7vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgba(30, 30, 30, 0.05);
    border-radius: 20px;
    margin-bottom: 20px;
}

.CART .DISH .FOOD img{
    max-height: 7vh;
    object-fit: contain;
    mix-blend-mode: multiply;

}

.CART .DISH .FOOD .INFO{
    width: 100%;
    max-width: 40%;
}


.CART .DISH .FOOD .INFO h3, .CART .DISH .FOOD .INFO h2{
    width: 100%;
    margin: 1%;
    padding: 0%;
    text-wrap: nowrap;
    white-space: nowrap; /* Текст не переносится на следующую строку */
    overflow: hidden; /* Скрываем лишний текст */
    text-overflow: ellipsis; 
}

.CART .DISH .FOOD .COUNT{
    width: 38%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.CART .DISH .FOOD .COUNT button{
    width: 40px;
    height: 40px;
}

@media screen and (min-width: 100px) {
    :root{
        --padding: 10px;
        --max-card-witdh: 180px;
    }

    .CART .DISH{
        height: 70%;
        margin: 5% 0%;
        --background-color: aqua;
    }
}

@media screen and (min-width: 400px) {
    :root{
        --padding: 10px;
        --max-card-witdh: 256px;
    }

    .CART .DISH{
        height: 80%;
        margin: 5% 0%;
        --background-color: aqua;
    }
}

@media screen and (min-width: 900px) {
    :root{
        --padding: 10px;
        --max-card-witdh: 256px;
    }

    .CART .DISH{
        height: 86%;
        margin: 7% 0%;
        --background-color: aqua;
    }

    .CART{
        width: 100%;
        max-width: 450px;
    }
}


@media screen and (min-width: 1024px) {
    :root{
        --padding: 10px;
        --max-card-witdh: 384px;
    }

    .CART .DISH{
        height: 80%;
        margin: 6% 0%;
        --background-color: aqua;
    }

    .CART{
        width: 100%;
        max-width: 420px;
    }
}

@media screen and (min-width: 1520px) {
    :root{
        --padding: 45px;
        --max-card-witdh: 384px;
    }
}


@media (hover: hover) {
 
    .MENU .CARDS .CARD .INFO .PRICE button:hover{
        transform: scale(0.9);
        background-color: var(--hover-button-bg);
    }
    
    .NAV button:hover{
        transform: scale(0.9);
        background-color: var(--hover-button-bg);
    }

    .CART button:hover{
        transform: scale(0.95);
        background-color: var(--hover-button-bg);
    }


}

.MENU .CARDS .CARD .INFO .PRICE button:active{
    transform: scale(0.6);
    background-color: var(--hover-button-bg);
}

.NAV button:active{
    transform: scale(0.6);
    background-color: var(--hover-button-bg);
}

.CART button:active{
    transform: scale(0.6);
    background-color: var(--hover-button-bg);
}
