*{
    font-family: "mak";
    --border:  2px solid green;
}

*::-webkit-scrollbar-button{
    display: none;
}

*::-webkit-scrollbar{
    background-color: #fff;
    border-radius: 0px;
    height: 10px;
    width: 10px;
}

*::-webkit-scrollbar-thumb{
    background-color: #1e1e1e;
    border-radius: 0px;
    max-height: 15px;
    width: 15px;
}

html, body{
    margin: 0;
    padding: 0;
}

body{
    width: 100%;
    padding: 0%;
}

.NAV{
    width: 96%;
    padding: 2%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: 0px #1e1e1e solid;
}

.NAV .NAV-LOGO{
    width: 100%;
    display: flex;
    justify-content: start;
}


.NAV .NAV-TITLE{
    width: 100%;
    display: flex;
    justify-content: center;
}

.NAV .NAV-BUTTON{
    width: 100%;
    display: flex;
    justify-content: end;
}

.NAV .NAV-BUTTON .button{
    background-color: #1e1e1e;
    color: #fff;
    border-radius: 100px;
    padding: 15px 30px;
    font-size: large;
    transition: all 0.3s linear;
    text-decoration: none;
}

.NAV .NAV-BUTTON .button:hover{
    background-color: #fff;
    color: #1e1e1e;
    border: 1px solid #1e1e1e;
}

.Menu{
    padding-top: 0px;
    width: 96%;
    margin-top: 2%;
    margin-top: 2%;
    margin-left: 2%;
    margin-right: 0%;
}

.Menu button{
    background-color: #1e1e1e;
    color: #fff;
    border-radius: 100px;
    padding: 15px 30px;
    font-size: large;
    transition: all 0.3s linear;
}

.Menu button:hover{
    background-color: #fff;
    color: #1e1e1e;
}

.Menu .Card-Menu{
    width: 450px;
    height: 350px;
    min-width: 450px;
    min-height: 350px;
    margin-right: 20px;
    --background-color: aqua;
}

.Menu .Card-Menu img{
    width: 100%;
    height: 70%;
    background-color: #1e1e1e;

}

.Menu .Card-Menu .INFO{
    height: 15%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2%;
}

.Menu h2, .Menu h3{
    height: 10px;
    font-weight: 300;
}

.Menu .Menu-Roll{
    width: 100%;
    display: flex;
    justify-content: start;
    overflow: auto;
    border-spacing: 20px;
}

